body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav a {
    border-bottom: 5px solid black;
    text-decoration: none;
    color: black;
}

main p {
    width: 800px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
} 

footer{
    background-color: darkgray;
    width: 1000px;
    padding: 5px 15px;
}

footer p {
    background-color: white;
    padding: 5px 5px 5px 15px;
}

div img {
    border-left: 15px dotted black;
    padding-left: 5px;
}

nav {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}

div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
}